*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #0a0a0a;
}

.box {
  background-color: red;
  height: 10rem;
  width: 10rem;
}
